.Navi {
  display: flex;
  justify-content: center;
  min-height: 10vh;
  background: #ff0f0f;
  color: rgb(255, 255, 255);
}

.links {
  display: flex;
  justify-content: flex-end ;
}

.mr-auto{
  display: flex;
  justify-content: space-evenly;
  align-content: center
}
.Navi .pref{
  display: flex;
  font-size: 150%;
  width: 400px;
  flex-grow: 1;
  
}
.Navi .reserv{
  display: flex;
  font-size: 150%;
  width: 400px;
  flex-grow: 1;
}

.Navi .map{
  display: flex;
  font-size: 150%;
  width: 400px;
  flex-grow: 1;
}

.Navi .exp{
  display: flex;
  font-size: 150%;
 
  flex-grow: 1;
}

.Navi .brand{
  display: flex;
  justify-content: flex-start;
  color: white;
  font-size: 200%;
  align-self: flex-start
  
}
