.app {
  text-align: center;
}
.Navbar li {
  display: inline;
  margin-right: 100px;
}

.MainTop {
  position: relative;
  height: 70px;
  width: 400px;
  left: 50%;
  margin-left: -140px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.oldPlans {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  height: 40px;
  width: 115px;
}

.currentWeek {
  float: right;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 20px;
  height: 60px;
  width: 205px;
}

.PrefFoot {
  float: left;
  height: 40px;
  width: 115px;
  margin-left: 10px;
}

.SaveFoot {
  float: right;
  height: 40px;
  width: 115px;

  margin-right: 43%;
}

.MainFooter {
  height: 50px;
}
